In [1]:
pip install pandas

Requirement already satisfied: pandas in c:\users\aqily\appdata\local\programs\python\python313\lib\site-packages (2.2.3)
Requirement already satisfied: numpy>=1.26.0 in c:\users\aqily\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2.2.6)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\aqily\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\aqily\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2022.7.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\aqily\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\aqily\appdata\local\programs\python\python313\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pandas as pd
import os
from datetime import datetime

In [3]:
csv_file = "../rawsDataset/data-inflasi.csv"
df = pd.read_csv(csv_file)
df.head()

         Periode Data Inflasi
0       Mei 2025        1.6 %
1     April 2025       1.95 %
2     Maret 2025       1.03 %
3  Februari 2025      -0.09 %
4   Januari 2025       0.76 %

In [4]:
month_map = {'Januari':'01', 'Februari':'02', 'Maret':'03', 'April':'04', 'Mei':'05', 'Juni':'06', 'Juli':'07', 'Agustus':'08', 'September':'09', 'Oktober':'10', 'November':'11', 'Desember':'12'
}

df['month_str'], df['year_str'] = zip(*df['Periode'].str.split())
df['date'] = df['year_str'] + '-' + df['month_str'].map(month_map)
df = df.drop(columns=['Periode','month_str','year_str'])
df.head()

  Data Inflasi     date
0        1.6 %  2025-05
1       1.95 %  2025-04
2       1.03 %  2025-03
3      -0.09 %  2025-02
4       0.76 %  2025-01

In [5]:
df['inflation'] = (df['Data Inflasi'].str.replace(' %', '', regex=False).astype(float))
df = df.drop(columns=['Data Inflasi'])
df.head()

      date  inflation
0  2025-05       1.60
1  2025-04       1.95
2  2025-03       1.03
3  2025-02      -0.09
4  2025-01       0.76

In [6]:
os.makedirs('../cleanDataset', exist_ok=True)

timestamp = datetime.now().strftime("%Y%m%d_%H%M%S")

output_path = f'../cleanDataset/inflation_clean_{timestamp}.csv'

df.to_csv(output_path, index=False)
print(f"Saved to {output_path}")

Saved to ../cleanDataset/inflation_clean_20250622_183819.csv